.VirtualBox/
.android/
.astah/
.bash_history
.cache/
.conda/
.copilot/
.dbclient/
.dotnet/
.eclipse/
.expo/
.git-credentials
.gitconfig
.lesshst
.matplotlib/
.p2/
.ssh/
.viminfo
.viminfo.tmp
.vscode/
AppData/
Contacts/
CrossDevice/
Desktop/
Documents/
Downloads/
Dropbox/
Favorites/
IA900/
Javascript/
LICENSE.txt
Links/
Microsoft/
Modulo1/
Music/
NTUSER.DAT
NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf
NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Projeto/
PycharmProjects/
Saved Games/
Searches/
Ubuntu/
Videos/
VirtualBox VMs/
desafio-felipao/
eclipse-workspace/
eclipse/
first_program,py
first_program.py
forca.py
java
node_modules/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
package-lock.json
package.json
projectgh/
projects/
pythondataanalytics/
rnproject/
rnproject2/
sistema-meatpack/
teste.py
wolf.txt
